

{% load static %}

            <div class="text-center"  id="custom_gallery">
                <div class="section-heading">
                    <h6>< Unsere Projekten ></h6>
                </div>
            </div>

    <div class="container" id="custom_gallery">
        <div class="row">

            <div class="wrapper col-lg-12 col-xs-12">

                <i id="left" class="fa-arrow-circle-left"></i>

                <div class="custom-carousel">

                {% for large_small_dic in pictures %}

                        {% for small, large in large_small_dic.items %}
                                <a href="{% static small %}"
                                   data-lightbox="image-1" data-title="Our Projects">
                                    <img src="{% static large %}" alt="">
                                </a>
                        {% endfor %}

                {% endfor %}

                </div>

                <i id="right" class="fa-arrow-circle-right"></i>

            </div>

        </div>
    </div>







