
{% load static %}

            <section class="section" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="left-text-content">
                                <div class="section-heading">
                                    <h6>< Über Uns ></h6>
                                    <h2>Herzlich willkommen auf der Homepage von Lev Bau GmbH - Ihr starker Partner
                                        in Hamburg!
                                        </h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="service-item">
                                            <img src="{% static 'images/about_us/professional.png' %}" alt="">
                                            <h4>Professionell</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="service-item">
                                            <img src="{% static 'images/about_us/reliable.png' %}" alt="">
                                            <h4>Zuverlässig</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="service-item">
                                            <img src="{% static 'images/about_us/time.png' %}" alt="">
                                            <h4>Schnell</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="service-item">
                                            <img src="{% static 'images/about_us/flexible.png' %}" alt="">
                                            <h4>Flexibel</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-6">
                                        <div class="service-item">
                                            <img src="{% static 'images/about_us/money.png' %}" alt="">
                                            <h4>Angemessenes Preisniveau</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="right-text-content">
                                <p>
                                    Wir sind Ihre Hamburger Spezialisten für den Innenausbau und Akustik.
                                    <br><br>
                                    Gerne übernehmen wir alle Arbeiten im Bereich Trockenbau! Hochwertiges Material,
                                    flexible Konstruktionen, attraktive Gestaltung und Architektur: Trockenbau-Wände
                                    sind auf dem Bau, bei einem Umbau oder einer Sanierung nicht mehr wegzudenken.
                                    Denn sie sind schnell und flexibel einsetzbar und erfüllen stets alle Anforderungen.
                                    Unsere Profis nehmen sämtliche Arbeiten an Decke, Wand und Boden im Trockenbaubereich
                                    für Sie vor. Wir erstellen Trockenbauwände und montieren abgehängte Decken.
                                    Dabei verwenden wir die verschiedensten Materialien, zum Beispiel Edelstahl,
                                    Mineraldämmung, Holz und Gips.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>