
{% load static %}

        <section class="section" id="features">
            <div class="container">
                <div class="section-heading text-center">
                    <h6>< Dienste ></h6>
                </div>

                <div class="row">
                     <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">


                        <div class="features-item">
                            <div class="features-icon">
                                <img src="{% static 'images/services/painting.jpg' %}" alt="">
                            </div>
                            <div class="features-content">
                                <h4>Malerarbeiten</h4>
                                <p>
                                    Innenanstriche
                                    <br><br>
                                    Wo Räume entstehen, in denen sich Menschen wohl fühlen sollen – bei der Arbeit und
                                    daheim in der Freizeit – sind wir als Handwerker zu aller erst Berater.
                                    Unsere umfassend geschulten Fachleute erschließen Ihnen das Spektrum an
                                    gestalterischen Möglichkeiten und setzen diese in stimmige Raum-Design-Konzepte um.
                                    Das Spektrum unserer Anstriche reicht von der klassischen Wischtechnik bis zur
                                    aufwändigen Spachteltechnik.
                                    <br><br>
                                    Baubiologische Anstriche
                                    <br><br>
                                    Die Luftverunreinigungen in Innenräumen von Bestandsimmobilien ist oft größer als an
                                    stark befahrenen Straßenkreuzungen. Die Ursachen: Schadstoffe aus Farben und Lacken,
                                    Baustoffen und Dämmmaterialien – verschärft durch die immer dichtere Bauweise.
                                    Aus baubiologischer Sicht ist daher eine Sanierung unter Einsatz von Naturfarben
                                    (einschließlich Voranstrichen und Grundierungen) sowie Putzen und Anstrichen
                                    ohne Löse- und Konservierungsmittel empfehlenswert.
                                </p>
{#                                <a href="#" class="text-button-icon">#}
{#                                    Learn More <i class="fa fa-arrow-right"></i>#}
{#                                </a>#}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">

                        <div class="features-item">
                            <div class="features-icon">
                                <img src="{% static 'images/services/spackle.png' %}" alt="">
                            </div>
                            <div class="features-content">
                                <h4>Trockenbau</h4>
                                <p>Die eigenen vier Wände – hier sollen Sie sich heimisch und geborgen fühlen.
                                    Der Arbeitsplatz soll ebenfalls ein Ort sein, an dem Sie sich wohlfühlen und der
                                    außerdem auch noch funktionell von der Raumaufteilung her sein soll. Gerne Sind
                                    unsere Profis Ihre zuverlässigen Ansprechpartner bei genau diesem Thema: Mit unseren
                                    Arbeiten im Bereich Trockenbau errichten wir Ihnen Wände und Decken ganz nach Ihren
                                    Ansprüchen und Wünschen!

                                    <br> <br>
                                    Trockenbau schützt auch im Brandfall

                                    Neben den Gestaltungsmöglichkeiten in der Raumaufteilung erfüllen unsere Arbeiten im
                                    Bereich Trockenbau noch eine Menge weiterer Aufgaben: So gibt es etwa genormte und
                                    geprüfte Brandschutzkonstruktionen aus Rigips. Egal wo dieses Material eingesetzt
                                    wird, im Neu- und Altbau – es bietet höchste Sicherheit im Brandfall.
                                </p>
{#                                <a href="#" class="text-button-icon">#}
{#                                    Learn More <i class="fa fa-arrow-right"></i>#}
{#                                </a>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">

                        <div class="features-item">
                            <div class="features-icon">
                                <img src="{% static 'images/services/acoustic.png' %}" alt="">
                            </div>
                            <div class="features-content">
                                <h4>Akustik</h4>
                                <p> Akustik, Raumklima, Feuchtigkeitsschutz: Die Arbeiten im Trockenbau sind vielseitig
                                    <br><br>
                                    Auch in Sachen Akustik bietet der Trockenbau mit speziellen Platten tolle Lösungen,
                                    ebenso wie bei der Schaffung eines angenehmen Raumklimas oder auch beim Schutz vor
                                    Feuchtigkeit. Gerne beraten wir Sie bei Ihrem Vorhaben, welche Arbeiten im Bereich
                                    Trockenbau wir passgenau für Sie übernehmen können!
                                </p>
{#                                <a href="#" class="text-button-icon">#}
{#                                    Learn More <i class="fa fa-arrow-right"></i>#}
{#                                </a>#}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>